 <!DOCTYPE html>
 <html lang="ru-RU">
    <head>
    </head>
    <body>

    <h2> Авторизация</h2> 
    <form action="/login" method="post">
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="checkbox" name="remember"> <label>Запомни меня</label>
            <button>Отправить</button>
    	</form>
    </body>
</html>